# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Virtual Environment
venv/
env/

# IDE
.vscode/
.idea/

# Mac
.DS_Store/

# Input files (optional - uncomment if you don't want to share inputs)
inputs/
